@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
:root {
  --background-color: rgb(10, 8, 24);
  --text-color: white;
  --scroll-color: rgb(72, 72, 73);
  --box-color:rgba(30, 128, 119, 0.5);
}

body {
  background-color: var(--background-color);
}
h1 {
  font-family: 'Coda';
  font-weight: 600;
}
h3 {
  font-family: 'Coda';
  font-weight: 500;
}
h2 {
  font-family: 'Baloo Tammudu 2';
  font-weight:700;
  /* line-height:30px; */
}
.navbar {
  display: flex;
}
.nav {
  width: 15%;
}
/* .Appbar {
    Color: black;
} */
/* .MuiTypography-root {
  width: 130px !important;
} */
/* .title{
  margin-right: 60px;
} */
.carouselimage {
  height: 70vh;
  object-fit: cover;
  width: auto;
  z-index: 1;
  position: relative;
  /* filter :blur(10px); */
}
.shadow {
  margin-top: -70vh;
  /* margin-bottom: -10px; */
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
}
.poster {
  /* z-index: 2; */
  /* margin-top: -300px; */
  /* position: fixed; */

  justify-content: center;
  margin-left: 200px;
  width: 100vw;
  height: 70%;
  text-align: left;
}
.overview {
  width: 70%;
  margin-bottom: 0px;
  line-height:30px;
  font-weight: 500;
}
/* .poster img {
  height: 300px;
  width: 50vw;
  height: 80vh;
  width: auto;
  margin-right: 80px;
} */
/* .posterimage {
  height: 300px;
  width: auto;
  margin-right: 100px;
} */
/* .carousel-root {
  height: 100%;
} */
.poster h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 60px;
  /* width: 300px; */
}
.poster h2 {
  margin-top: 12px;
  font-size: 22px;
}
.maincard {
 
  margin-top: 150px;
  width: 70%;
  height: auto;
}

.moviecard {
  height: 800px;
  width: auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.movieimage img {
  margin-top: 20px;
  padding-top: 0;
  height: 700px;
  width: auto;
}
.card {
  height: auto;
  width: 200px;
  position: absolute;
  bottom: 300px;
  left: 620px;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}
.List {
  width: 100vw;
  height: auto;
  color: var(--text-color);
}
.moviesmain {
  height: auto;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.movies {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.popularimage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popularimage img {
  height: 350px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 18px rgba(92, 89, 95, 0.5);
}
.popularmovie {
  /* height: 430px; */
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 20px 30px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.popular {
  color: var(--text-color);
   width:fit-content;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 0 10px;
   margin: 10px;
   background-color: var(--box-color);
   border-radius: 13px;
}
.pop {
  margin-top: 5px;
  display: flex;
  justify-content:center;
}
.popular h2 {
  margin: 0px;
   margin-top: 5px;
}
.popularmovies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.searchwrap {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  position: fixed;
  z-index: 4;
  overflow: scroll;
}
/* .carousel {
  z-index: -1;
} */
.Search {
  margin: 60px 0px;
  position: relative;
  z-index: 20;
  
  /* overflow: scroll; */
}
.searchmovie {
  height: 430px;
  width: auto;
  /* display: flex; */
  /* flex-direction: row; */
  margin: 20px 30px;
  position: relative;
  /* align-items: center;
  justify-content: center; */
}
.searchmovies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.searchimage {
    display: flex;
    align-items: center;
    justify-content: center
}
.searchimage img {
  height: 350px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 18px rgba(92, 89, 95, 0.5);
}
.explore {
  margin-top: 60px;
  display: flex;
  width: 100vw;
  height: auto;
}
.explore h1 {
  color: var(--text-color);
  margin-left: 50px;
  width: 40%;
  font-size: 50px;
}
.space {
  width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.next {
  display: flex;
  margin-right: 40px;
  color: var(--text-color);
  /* align-items: flex-end; */
  justify-content: flex-end;
}
.next h3 {
  width: 100%;
  margin-top: 15px;
  text-decoration: none;
  font-size: 25px;
}

.listmovie {
  height: 450px;
  width: auto;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  position: relative;
}
.listmovies::-webkit-scrollbar-thumb {
  /* width:100px; */
  width: 5px;
  background: var(--scroll-color);
}
.listmovies::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  background: transparent;
}
.listmovies {
  width: 100vw;
  height: auto;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* justify-content: center; */
  overflow: scroll;
  /* scrollbar-width: none; */
}
.listimage img {
  height: 420px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 18px rgba(92, 89, 95, 0.5);
}
.populardetails {
  margin: 0 200px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailsimage {
  margin-right: 60px;
  margin-top: 90px;
  padding-bottom: 0px;
}
.detailsimage img {
  height: 500px;
}
.backgroundimage {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .details {
  margin-top: 100px; 
   height: 700px;
} */
.detailsgenres {
width:fit-content;
display: flex;
align-items: center;
justify-content: center;
padding: 0 10px;
margin: 10px;
margin-right: 28px;
  background-color: var(--box-color);
  border-radius: 13px;
}
.detailsgenres h2 {
  margin: 0px;
  margin-right: 8px;
   margin-top: 5px;
}
.videos {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 200px;
  height: 300px;
  width: auto;
}
.video {
  display: flex;
}
.videoscroll {
  height: 100%;
  width: auto;
  display: flex;
  overflow: scroll;
}
.videoscroll::-webkit-scrollbar-thumb {
  /* width:100px; */
  width: 5px;
  background: var(--scroll-color);
}

.videoscroll::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  background: transparent;
}
.tails {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.carousel .thumbs {
  display: none;
}
.carousel .control-dots {
  display: none;
}
.detailstitle h1 {
  font-size: 50px;
  margin-bottom: 5px;
}
.span {
  font-size: 170%;
  color: yellow;
  margin-top: 18px;
}
.detailsdesc h2 {
    line-height:30px;
    font-weight: 500;
}
.detailsrating {
  width:fit-content;
  display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 10px;
   margin: 10px;
   background-color: var(--box-color);
   border-radius: 13px;
}
.detailsrating h2 {
  margin: 0px;
   margin-top: 5px;
  text-align: center;
}
.detailsruntime {
  width:fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin: 10px;
   padding-left: 5px;
   background-color: var(--box-color);
   border-radius: 13px;
}
.detailsruntime h2 {
  margin: 0px;
  margin-top: 5px;
   text-align: center;
}

.vid {
  margin-right: 70px;
  width: 380px;
  height: 200px;
}
.moviesmain h1 {
  color: var(--text-color);
 text-align: center;
 margin-top: 100px;
 font-size: 60px;
}
.rating {
   width:fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 10px;
   margin: 10px 0px;
   background-color: var(--box-color);
   border-radius: 13px;
}
.rating h2 {
  margin: 0px;
   margin-top: 5px;
  text-align: center;
}
/* .posterimage img {
     height: 300px;
     width: auto;
     margin-right: 47px;
     margin-top: 150px;
} */
@media screen and (min-width: 1353px) {
  /* .tails {
    position: fixed;
   
  } */
  .align {
    margin-top: 80px;
    height: 600px;
    width: 100%;
  }
  .shadow {
    overflow: hidden;
  }
  .poster {
    display: flex;
    align-items: center;
  }
  .realrow {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
  }

  .real {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 781px) and (max-width: 1352px) {
  /* .popular details {

 } */
 .moviesmain h1 {
   margin: 10px;
   margin-top: 90px;
 }
 .popularimage img {
   height: 310px;
 }
 /* .popularmovie {
   height: 380px;
 } */
  .shadow {
    overflow: hidden;
  }
  .overview {
    width: 78%;
  }
  .poster {
    margin-left: 120px;
    display: flex;
    align-items: center;
  }
  .maincard {
    margin-top: 162px;
    width: 60%;
  }
  .poster h1 {
    width: 80%;
    height: auto;
    margin: 1px;
    font-size: 40px;
  }
  .poster h2 {
    margin: 2px;
    font-size: 18px;
  }
  .rating {
    margin-top: 5px;
    margin-bottom: -5px;
  }
  .align {
    margin-top: 100px;
    height: 600px;
    width: 100%;
  }
  .details {
    height: 630px;
    width: 500px;
  }
 
  .details {
    margin-top: 120px;
  }
  .detailsimage {
    /* margin-top: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
    width: auto;
  }
  .detailsimage img {
    height: 380px;
    margin-bottom: 60px;
  }
  .detailsdesc {
    margin-top: 0px;
      line-height:30px;
  }
  .details h2 {
    font-size: 20px;
  }
  .details h1 {
    font-size: 40px;
  }
  .vide {
    /* align-items: center;
     justify-content: center; */
    margin-left: 200px;
  }
  .videos {
    margin-top: 25px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 780px) {

  .overview {
    display: none;
  }
  .vid {
    width: 250px;
    z-index: 2;
    height: 160px;
    margin-right: 50px;
  }
  .align {
    align-items: flex-start;
  }
  .detailsdesc {
    margin-left: -120px;
    width: 90vw;
    height: 50%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details h2 {
    font-size: 20px;
  }
  .detailsrelease {
    margin-left: -120px;
  }
  .detailsrelease {
    margin-top: 0px;
  }
  .detailsrating {
    margin-left: -120px;
  }
  .detailsruntime {
    margin-left: -120px;
  }
  
  .detailsgenres {
    margin-left: -120px;
    /* width: 100vw; */
    flex-wrap: wrap;
  }

  /* .detailsdesc h2 {
    height: 50%;
    width: auto;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
  } */
  .span {
    margin-top: -8px;
  }
  .detailstitle h1 {
    font-size: 35px;
  }
  .detailstitle {
    width: 55vw;
    height: 150px;
    margin-top: 250px;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .detailsrating h2 {
    
    margin-left: 0px;
    /* display: flex;
    align-items: center; */
  }
  .backgroundimage {
    height: 40vh;
    width: 100%;
    position: absolute;
  }
  .tails {
    height: 100%;
    width: 100%;
  }
  .populardetails {
    margin: 0 20px;
    width: 100%;
    align-items: unset;
    justify-content: unset;
    /* height: 100vh; */
  }
  .detailsimage {
    margin: 0px;
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
  }
  .detailsimage img {
    margin-top: 230px;
    height: 180px;
  }
  .movieimage img {
    height: 200px;
    width: auto;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .moviecard {
    height: 270px;
    margin-bottom: 0px;
  }
  .listmovie {
    height: 250px;
    width: 100vw;
    margin: 0 10px;
  }
  /* .listmovies {
    width: 100%;
    height: auto;
    /* margin: 10px; */

  .listimage img {
    height: 220px;
    width: auto;
  }
  /* .space {
    margin-top: 0px;
    padding-top: 0px;
  } */
  .explore h1 {
    margin-left: 20px;
    margin-bottom: 8px;
    font-size: 25px;
  }
  .next {
    margin-right: 20px;
  }
  .next h3 {
    /* padding-bottom: px; */
    font-size: 15px;
  }
  .listmovies::-webkit-scrollbar {
    display: none;
  }
  .explore {
    margin-top: 5px;
  }
  .Search {
    margin-top: 15px;
  }
  .videos {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .video {
    height: 150px;
    width: 150px;
  }
  .shadow {
    position: relative;
    margin-top: -230px;
    background-color: transparent;
    backdrop-filter: none;
  }
  .carousel .slider-wrapper {
    overflow: visible;
    height: 100% !important;
    padding-bottom: 0px;
  }
  .carousel .slide {
    height: 100%;
  }
  .carousel .slider.animated {
    height: 90% !important;
  }
  .carousel .thumbs-wrapper {
    display: none;
  }
  .carousel.carousel-slider .control-arrow {
    height: 100%;
  }
  .poster {
    display: flex;
    margin-left: 10px;
    align-items: center;
  }
  .posterimage img {
    height: 200px !important;
    margin-right: 10px !important;
  }
  .poster h1 {
    margin-top: 75px;
    font-size: 35px;
  }
  .carouselimage {
    height: 50vh;
    filter: blur(2px);
  } 
  .popular {
    /* margin: 0px; */
    margin: 6px 0px;
  }
  /* .pop {
    margin-bottom: 5px;
  } */
  .popularimage img {
    height: 220px;
  }
  .popularmovie {
    /* height: 250px; */
    margin: 15px;
    /* margin-right: 12px; */
  }
  .popular h2 {
    font-size: 20px;
  }
  .moviesmain h1{
    font-size: 40px;
    margin: 5px;
    margin-top: 70px;
  }
  .searchimage img {
    height: 190px;
  }
  .searchmovie {
    height: 250px;
    margin: 15px;
  }
  .searchmovies{
    margin-top: 70px;
  }
  /* .maincard {
    margin-top: 80px;
  } */
  /* .carousel.carousel-slider {
    height: 100%;
  } */
}
