:root {
  --background-color: rgb(15, 11, 34);
  --text-color: white;
  --scroll-color: rgb(72, 72, 73);
}

body {
  background-color: var(--background-color);
}
/* .Appbar {
    Color: black;
} */

.moviecard {
  height: 800px;
  width: auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.movieimage img {
  margin-top: 20px;
  padding-top: 0;
  height: 700px;
  width: auto;
}
.card {
  height: auto;
  width: 200px;
  position: absolute;
  bottom: 300px;
  left: 620px;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}
.List {
  width: 100vw;
  height: auto;
  color: var(--text-color);
}
.moviesmain {
  height: 100%;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.movies {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.popularimage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popularimage img {
  height: 420px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 18px rgba(92, 89, 95, 0.5);
}
.popularmovie {
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.popular {
  color: var(--text-color);
}
.popularmovies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.searchwrap {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  position: fixed;
  z-index: 1;
  overflow: scroll;
}
.Search {
  margin: 60px 0px;
  position: relative;
  z-index: 2;
  overflow: scroll;
}
.searchmovie {
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.searchmovies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.searchimage img {
  height: 420px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 18px rgba(92, 89, 95, 0.5);
}
.explore {
  margin-top: 90px;
  display: flex;
  width: 100vw;
  height: auto;
}
.explore h1 {
  color: var(--text-color);
  margin-left: 50px;
  width: 40%;
}
.space {
  width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.next {
  display: flex;
  margin-right: 40px;
  color: var(--text-color);
  /* align-items: flex-end; */
  justify-content: flex-end;
}
.next h3 {
  width: 100%;
  margin-top: 15px;
  text-decoration: none;
  font-size: 25px;
}

.listmovie {
  height: 450px;
  width: auto;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  position: relative;
}
.listmovies::-webkit-scrollbar-thumb {
  /* width:100px; */
  width: 5px;
  background: var(--scroll-color);
}
.listmovies::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  background: transparent;
}
.listmovies {
  width: 100vw;
  height: auto;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* justify-content: center; */
  overflow: scroll;
  /* scrollbar-width: none; */
}
.listimage img {
  height: 420px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 18px rgba(92, 89, 95, 0.5);
}
.populardetails {
  margin: 0 200px;
  padding-bottom: 0px;
  display: flex;
  align-items: center; 
   justify-content: center;
}
.detailsimage {
  margin-right: 60px;
  margin-top: 90px;
  padding-bottom: 0px;
}
.detailsimage img {
  height: 500px;
}
.backgroundimage {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .details {
  margin-top: 100px; 
   height: 700px;
} */
.detailsgenres {
  display: flex;
}
.detailsgenres h2 {
  margin-right: 8px;
}
.videos {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 200px;
  height: 300px;
  width: auto;
}
.video {
  display: flex;
}
.videoscroll {
  height: 100%;
  width: auto;
  display: flex;
  overflow: scroll;
}
.videoscroll::-webkit-scrollbar-thumb {
  /* width:100px; */
  width: 5px;
  background: var(--scroll-color);
}

.videoscroll::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  background: transparent;
}
.tails {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  position: relative;
  z-index: 2;
   height: 100%;
   width: 100%;
  overflow: hidden;
}
.carousel .thumbs {
  display: none;
}
.detailstitle h1 {
  font-size: 50px;
  margin-bottom: 5px;
}
.span {
  font-size: 170%;
  color: yellow;
  margin-top: 18px;
}
.detailsrating {
  display: flex;
}
.vid {
  margin-right: 70px;
  width: 380px;
  height: 200px;
}
@media screen and (min-width: 1353px) {
  /* .tails {
    position: fixed;
   
  } */
  .align {
    margin-top: 50px;
    height: 550px;
    width: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width:1352px) {
  .align {
    height: 550px;
    width: auto;
  }
   .detailsrelease {
     margin-top: 0px;
   }
   .detailsruntime h2 {
     margin-top: 0px;
   }
   .detailsgenres h2 {
     margin-top: 0px;
   }
   .detailsrating h2 {
     margin-top: 0px;
   }
   .details {
      margin-top: 100px;
   }
   .detailsimage {
     margin-top: 100px;
   }
   .detailsimage img {
     height: 420px;
   }
   .detailsdesc {
     margin-top: 0px;
   }
   .details h2 {
     font-size: 20px;
   }
   .details h1 {
     font-size: 40px;
   }
   .vide {
     /* align-items: center;
     justify-content: center; */
margin-left: 200px;
   }
   .videos {
     margin-left: 0px;
   }
}
@media screen and (max-width: 768px) {
  .align {
    align-items: flex-start;
  }
  .detailsdesc {
    margin-left: -120px;
    width: 90vw;
    height: 50%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details h2 {
    font-size: 20px;
  }
  .detailsrelease {
    margin-left: -120px;
  }
  .detailsrelease {
    margin-top: 0px;
  }
  .detailsrating {
    margin-left: -120px;
  }
  .detailsruntime {
    margin-left: -120px;
  }
  .detailsruntime h2 {
    margin-top: 0px;
  }
  .detailsgenres {
    margin-left: -120px;
    width:100vw;
    flex-wrap: wrap;
  }
  .detailsgenres h2 {
    margin-top: 0px;
  }
  /* .detailsdesc h2 {
    height: 50%;
    width: auto;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
  } */
  .span {
    margin-top: -8px;
  }
  .detailstitle h1 {
    font-size: 35px;
  }
  .detailstitle {
    width: 55vw;
    height: 150px;
    margin-top: 250px;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .detailsrating h2 {
    margin-top: 0px;
    margin-left: 0px;
    /* display: flex;
    align-items: center; */
  }
  .backgroundimage {
    height: 40vh;
    width: 100%;
    position: absolute;
  }
  .tails {
    height: 100%;
    width: 100%;
  }
  .populardetails {
    margin: 0 20px;
    width: 100%;
    align-items: unset;
    justify-content:unset;
    /* height: 100vh; */
  }
  .detailsimage {
    margin: 0px;
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
  }
  .detailsimage img {
    margin-top: 230px;
    height: 180px;
  }
  .movieimage img {
    height: 200px;
    width: auto;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .moviecard {
    height: 270px;
    margin-bottom: 0px;
  }
  .listmovie {
    height: 250px;
    width: 100vw;
    margin: 0 10px;
  }
  /* .listmovies {
    width: 100%;
    height: auto;
    /* margin: 10px; */

  .listimage img {
    height: 220px;
    width: auto;
  }
  /* .space {
    margin-top: 0px;
    padding-top: 0px;
  } */
  .explore h1 {
    margin-left: 20px;
    margin-bottom: 8px;
    font-size: 25px;
  }
  .next h3 {
    /* padding-bottom: px; */
    font-size: 15px;
  }
  .listmovies::-webkit-scrollbar {
    display: none;
  }
  .explore {
    margin-top: 5px;
  }
  .Search {
    margin-top: 15px;
  }
  .videos {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .video {
    height: 150px;
    width: 150px;
  }
}
